* {/*sets base style for the page*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {/*sets font color for linke*/
    color: #ffffff; /*font color white for list elements*/
    text-decoration: none;
}

p {/*sets font size for paragraph elements*/
    font-size: 16px;/*font size 16px for list elements*/
}
.seo{
    color: #d9dcd6;
}
body {
    background-color: #d9dcd6;/* Sets background color to white */
}

/*header styles*/

.header {/*creates space around header elements,font type of sans, font color white, and background color blue 
    to the header*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {/* sets width and height as well as font size of 48px for header*/
    display: inline-block;
    font-size: 48px;
    color: white;
}

.header nav {/*adds 15 px spacing , a 20px margin location on page sans serif font 
    and a 20px font size for header section*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul {/* no markers for list*/
    list-style-type: none;
}

.header li {/*Defines element appearance and behavior, adds 25px margin*/
    display: inline-block;
    margin-left: 25px;
}

.hero {/*sets background image dimensions, margin bottom, size and position*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.content {/*sets width, height and position of the section, left margin of 20px*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {/*set padding and margin as well as height font style background color and font color for Article section*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {/*sets max height for images in article section in pixels*/
    max-height: 200px;
}

.content h2 {/*sets bottom margin and font size for headers in article section*/
    margin-bottom: 20px;
    font-size: 36px;
}

.float-right {/*sets image location and left side margins*/
    float: right;
    margin-left: 25px;
}

.float-left {/*sets image location and right side margin*/
    float: left;
    margin-right: 25px;
}

.benefits {/*sets section content area W 20% H 100%, margin 20px, spacing 20px, font size, and background color blue
    for benefits*/
   margin-right: 20px;
   padding: 20px;
   clear: both;
   float: right;
   width: 20%;
   height: 100%;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   background-color: #2589bd;
}

.benefits div {/*sets alignment bottom margin and font color*/
    text-align: center;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {/*sets image location margina nd amx width*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {/*sets location and font size for the footer*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}